Repository TurboWarp/extensions, pull requests merged in 2025-05, with the labels that each got.

#2062 Documentation Alerts bug fixing
  development/docs-template.ejs
  development/render-docs.js
Labels: pr: other

#2119 Fix weird object accesses in utilities, JSON
  extensions/Skyhigh173/json.js
  extensions/utilities.js
Labels: pr: change existing extension

#2121 sound: Rebrand as URL Playback to avoid confusion with the built-in sound category
  extensions/sound.js
  images/sound.svg
Labels: pr: change existing extension

#2110 Lily/ClonesPlus: revert breaking change
  extensions/Lily/ClonesPlus.js
Labels: pr: change existing extension

#2123 Lily/ClonesPlus: separate blocks for cloning myself and cloning the original
  extensions/Lily/ClonesPlus.js
Labels: pr: change existing extension

#2034 Lily/Video: Update volume functions to interact with the project volume
  extensions/Lily/Video.js
Labels: pr: change existing extension

#2124 [Automated] Update translations 2025-05-21
  translations/extension-metadata.json
  translations/extension-runtime.json
Labels: pr: other

#2129 [Automated] Update translations 2025-05-24
  translations/extension-metadata.json
  translations/extension-runtime.json
Labels: pr: other

#2130 sound: Update image attributions
  images/README.md
Labels: pr: other

#2133 [Automated] Update translations 2025-05-28
  translations/extension-metadata.json
  translations/extension-runtime.json
Labels: pr: other

#2128 Lily/Skins: Fix some fatal loading bugs.
  extensions/Lily/Skins.js
Labels: bug, pr: change existing extension, javascript

#2137 handle the rotationCenter error differently
  extensions/Lily/Skins.js
Labels: pr: change existing extension, javascript
