Repository TurboWarp/extensions, pull requests merged in 2025-02, with the labels that each got.

#1880 NexusKitten/moremotion: Replace atan with atan2
  extensions/NexusKitten/moremotion.js
Labels: pr: change existing extension

#1887 JeremyGamer13/tween: Fix Pause button not suspending Tweening
  extensions/JeremyGamer13/tween.js
Labels: pr: change existing extension

#1898 Lily/MoreTimers: Don't rely on system clock
  extensions/Lily/MoreTimers.js
Labels: pr: change existing extension

#1902 NexusKitten/moremotion: fix previous commit
  extensions/NexusKitten/moremotion.js
Labels: pr: change existing extension

#1908 [Automated] Update translations 2025-02-05
  translations/extension-runtime.json
Labels: pr: other

#1904 Lily/Video: added "play video until done" and "loop video" block
  extensions/Lily/Video.js
Labels: pr: change existing extension

#1909 Add some missing credit
  extensions/JeremyGamer13/tween.js
  extensions/Lily/Video.js
  extensions/SharkPool/Font-Manager.js
  extensions/Skyhigh173/json.js
  extensions/TheShovel/ShovelUtils.js
Labels: pr: change existing extension

#1885 Replace Buggy DT/Camera with SharkPool/Camera
  extensions/SharkPool/Camera.js
  extensions/extensions.json
  images/SharkPool/Camera.svg
Labels: pr: new extension

#1913 Lily/Cast: Just return typeof. Lily/tempvars2: Add final missed credit.
  extensions/Lily/Cast.js
  extensions/Lily/TempVariables2.js
Labels: pr: change existing extension

#1907 Skyhigh173/json: add analysis block
  extensions/Skyhigh173/json.js
Labels: pr: change existing extension

#1915 qxsck/data-analysis: Fix spread overflow
  extensions/qxsck/data-analysis.js
Labels: pr: change existing extension

#1918 Add better error handling to format-pr workflow
  .github/workflows/format-pr.yml
Labels: pr: other

#1921 SharkPool/Camera.js: fix speech bubble positions
  extensions/SharkPool/Camera.js
Labels: pr: change existing extension

#1929 Lily/ListTools: Cast all list inputs to string
  extensions/Lily/ListTools.js
Labels: pr: change existing extension

#1930 Update mobilekeyboard and iframe Banners
  extensions/veggiecan/mobilekeyboard.js
  images/README.md
  images/iframe.svg
  images/veggiecan/mobilekeyboard.svg
Labels: pr: other

#1860 Change some block labels
  docs/CubesterYT/KeySimulation.md
  extensions/CubesterYT/KeySimulation.js
Labels: pr: change existing extension

#1899 Add code snippet for extension template
  .gitignore
  .vscode/extension.code-snippets
Labels: pr: other

#1924 Lily/Assets: Add credit and new blocks
  extensions/Lily/Assets.js
Labels: pr: change existing extension

#1937 Call camera controls "Camera V1" and list it again
  extensions/DT/cameracontrols.js
  extensions/SharkPool/Camera.js
  extensions/extensions.json
Labels: pr: change existing extension

#1944 [Automated] Update translations 2025-02-19
  translations/extension-metadata.json
  translations/extension-runtime.json
Labels: pr: other

#1934 Remove workflow-dispatch support from format-pr workflow
  .github/workflows/format-pr.yml
Labels: pr: other

#1959 true-fantom/math: Add true sin/cos/tan block.
  extensions/true-fantom/math.js
Labels: pr: change existing extension

#1975 lily/lmsutils -- Implement the missing "list variables" block
  extensions/Lily/lmsutils.js
Labels: pr: change existing extension

#1981 true-fantom/math: Add "sign" block
  extensions/true-fantom/math.js
Labels: pr: change existing extension
