Repository TurboWarp/extensions, pull requests merged in 2025-10, with the labels that each got.

#2259 Update CONTRIBUTING.md to say TurboWarp extensions instead of Scratch extensions
  CONTRIBUTING.md
Labels: documentation, pr: other

#2262 TheShovel/CustomStyles: fix list scrolling getter
  extensions/TheShovel/CustomStyles.js
Labels: pr: change existing extension

#2263 [Automated] Update translations 2025-10-04
  translations/extension-runtime.json
Labels: pr: other

#2266 Convert development tools to ESM and update dependencies
  development/build-production.js
  development/builder.js
  development/colors.js
  development/compatibility-aliases.js
  development/download-translations.js
  development/fs-utils.js
  development/get-credits-for-gui.js
  development/parse-extension-metadata.js
  development/parse-extension-translations.js
  development/render-docs.js
  development/render-template.js
  development/server.js
  development/transifex-common.js
  development/upload-translations.js
  development/validate.js
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: pr: other

#2264 Face sensing
  extensions/extensions.json
  extensions/lab/face-sensing.js
Labels: pr: new extension

#2254 obviousAlexC/newgroundsIO.js -- "The fix-it update!"
  extensions/obviousAlexC/newgroundsIO.js
Labels: pr: change existing extension
