Repository TurboWarp/extensions, pull requests merged in 2025-03, with the labels that each got.

#1947 SharkPool/Camera: bug fixes
  extensions/SharkPool/Camera.js
Labels: pr: change existing extension

#2011 [Automated] Update translations 2025-03-05
  translations/extension-metadata.json
  translations/extension-runtime.json
Labels: pr: other

#1996 Update Text extension for casting compliance under new guidelines
  extensions/text.js
Labels: pr: change existing extension

#2026 SharkPool/Camera: force redraw for movement and prevent position rounding
  extensions/SharkPool/Camera.js
Labels: pr: change existing extension

#2043 cloudlink: remove broken servers, put major verison in name
  extensions/cloudlink.js
Labels: pr: change existing extension

#2045 Lily/AllMenus: mark as scratch-compatible
  extensions/Lily/AllMenus.js
Labels: pr: change existing extension

#2049 [Automated] Update translations 2025-03-26
  translations/extension-runtime.json
Labels: pr: other

#2044 cloudlink: more fixes
  extensions/cloudlink.js
Labels: pr: change existing extension

#2058 Skyhigh173/json: fix undefined issues
  extensions/Skyhigh173/json.js
Labels: bug, pr: change existing extension
